# Core Backend
fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart

# API Clients
httpx
requests
aiohttp

# Data Handling
pandas
numpy

# PDF & DOCX Generation
reportlab
jinja2
python-docx

# Frontend
streamlit
extra-streamlit-components
streamlit-pdf-viewer
altair<5